* {

  padding: 0;
  margin: 0;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-image: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  text-align: center;
}

h1 {
  color: white;
  font-size: 2.5rem;
}

.score-board {
  margin: 40px auto 0 auto;
  border: solid 2px hsl(217, 16%, 45%);
  border-radius: 10px;
  width: 60%;
  min-width: 400px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.scores {
  /* display: inline-block; */
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 8px;
  justify-content: space-between;
  width: 120px;
}

.scores p {
  color: hsl(229, 64%, 46%);
}

.scores h2 {
  font-size: 4rem;
  font-weight: bold;
  margin: auto 0 0 0;
  color: hsl(229, 25%, 31%);
}

/* Play area --------------------------------------- */
.play-start {
  width: 300px;
  height: 50%;
  min-width: 400px;
  margin: 57px auto 40px;
  position: relative;
  justify-content: center;
}

.play-end {
  display: none;
  width: 50%;
  height: 300px;
  min-width: 600px;
  margin: 57px auto 40px;
  position: relative;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* flex-direction:row; */
}

.result-box {
  width: 200px;
  height: 100%;
  margin: 0 30px;
}

.result-box-collapse {
  animation-name: grow;
  animation-duration: .5s;
}

@keyframes grow {
  from {
    transform: scale(.3);
  }

  to {
    transform: scale(1);
  }
}

.result-box button {
  background-color: white;
  width: 150px;
  height: 30px;
  margin-top: 20px;
  border: solid 0;
  border-radius: 5px;
  font-weight: bold;
  color: hsl(217, 16%, 45%);
  transition: .2s;
}

.result-box button:hover {
  border: solid 2px hsl(217, 16%, 45%);
  width: 160px;
  height: 35px;
}

.result-box h1 {
  margin-top: 40%;
}

.tri-1 {
  position: absolute;
  left: 0;
  top: -40px;
}

.tri-2 {
  position: absolute;
  right: 0;
  top: -40px;
}

.tri-3 {
  position: relative;
  top: -120px;
}

.tri-bg {
  left: 25%;
  width: 80%;
}

/* Icons ------------------------------------------- */
.item {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 25px;
  padding: 50px;
  transition: .5s;
}

.item:hover {
  width: 50px;
  height: 50px;
}

.item-large {
  position: relative;
  display: block;
  background-color: white;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  padding: 50px;
  transition: .2s;
  justify-content: center;


}

.item-large p{
  text-align: center;
  display: inline-block;

  width: 150px;
  color: white;
  position: absolute;
  left:0;
  right: 0;
  bottom: 160px;

}

.winner {
  animation-name: win-anim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes win-anim {
  from {
    box-shadow:
      0 0 0 0px rgba(255, 255, 255, .2),
      0 0 0 0px rgba(255, 255, 255, .15),
      0 0 0 0px rgba(255, 255, 255, .1),
      0 0 0 0px rgba(255, 255, 255, .05),
      0 0 0 0px rgba(255, 255, 255, .01);
  }

  to {
    box-shadow:
      0 0 0 40px rgba(255, 255, 255, .2),
      0 0 0 60px rgba(255, 255, 255, .15),
      0 0 0 80px rgba(255, 255, 255, .1),
      0 0 0 100px rgba(255, 255, 255, .05),
      0 0 0 120px rgba(255, 255, 255, .01);
  }
}

.rock {
  border: solid 10px hsl(349, 71%, 52%);
  box-shadow: 0 4px 0 hsl(349, 70%, 56%),
    inset 0 5px 0 rgba(0, 0, 0, .2);
  background-image: url(images/icon-rock.svg);
}

.paper {
  border: solid 10px hsl(230, 89%, 52%);
  box-shadow: 0 4px 0 hsl(230, 89%, 62%),
    inset 0 5px 0 rgba(0, 0, 0, .2);
  background-image: url(images/icon-paper.svg);
}

.scissors {
  border: solid 10px hsl(40, 84%, 53%);
  box-shadow: 0 4px 0 hsl(39, 89%, 49%),
    inset 0 5px 0 rgba(0, 0, 0, .2);
  background-image: url(images/icon-scissors.svg);
}

/* Rules ----------------------------------- */
.rules {
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: left;
  z-index: 1;
}

.rules div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.rules h2 {
  color: hsl(229, 25%, 31%);
  margin-bottom: 20px;
  display: inline-block;
}

.rules button {
  display: inline;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  float: right;
  color: hsl(229, 25%, 31%);
}

.rule-button{
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.rule-button button{
  background: none;
  border: solid white 1px;
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
}

.rules div:nth-child(1) {
  display: block;
}

.rules div:nth-child(2) {
  display: none;
}

/* Footer ---------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
  position: fixed;
  bottom: 25px;
  left:0;
  right: 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media(max-width: 650px) {
  .play-end {
    margin-top: 30px;
    height: 600px;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    margin: 0;
    min-width: 0;
  }

  .result-box {
    height: 100px;
    margin: 30px 0 60px;
  }

  .result-box h1 {
    margin: 0;
  }


  /* .item-large{
    margin-top: 100px;
    width: 40px;
    height: 40px;
  } */
}

@media(max-width: 450px) {
  .score-board {
    width: 80%;
    min-width: 250px;
  }

  .play-start {
    width: 80%;
    min-width: 250px;
    height: 40%;
  }

  .item {
    transform: scale(.8);
  }

  .score-board img {
    display: inline;
  }

  .rules {
    background-color: white;
    text-align: center;
    justify-content: center;
  }

  .rules div:nth-child(1) {
    display: none;
  }

  .rules div:nth-child(2) {
    display: block;
  }

  .rules img {
    display: block;
  }

  .rules button {
    float: none;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: hsl(229, 25%, 31%);
    margin-top: 20px;
  }



  .rule-button{
    display: block;
    bottom: 50px;
    left:0;
    right: 0;
    position: fixed;
  }
}
